@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

body {
    background-color: white;
}

.header {
    background: #1d3557;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 2px 7%;
}

/*-------------------------------------------------------------------------------------*/
.nom_inicio{
    background-color: #1d3557;
    color: #fff;
    display: flex;
    align-items: center;
    height: 130px;
    padding: 50px 20%;
    font-size: 34px;
}

/*-----------------LOGO--------------------------*/
.header .logo {
    cursor: pointer;
    z-index: 10;
    height: 100px;
    top: 13px;
    position: relative;
}

.header .logo button {
    color: transparent;
}

.header .logo img {
    position: absolute;
    transition: all 0.3s;
    z-index: 10;
    height: 100%;
    width: 90px;
}

.header .logo img:hover {
    transform: scale(1.2);
}

/*------------Los botones de listas etc----------------------*/
.header .nav-links {
    list-style: none;

}

.header .nav-links li {
    display: inline-block;
    padding: 0 35px;

}

.header .nav-links li:hover {
    transform: scale(1.3);
}

.header .nav-links a {
    font-size: 400;
    /*font-size: 20px;*/
    color: white;
    text-decoration: none;
    font-size: 18px;

}

.header .nav-links li a:hover {
    color: white;
    font-size: 18px;
}

.header .btn button {
    font-weight: 700;
    color: black;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.2);
}

.logout {
    font-weight: 700;
    color: black;
    padding: 8px 15px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.logout:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.2);
}
/*-----------------------------------------------------------------------------------------------*/
.section{
    background-color: #1d3557;
    padding: 50px 60px;
    width: 400px;
    height: 450px;
    color: #fff;
    margin-left: 4%;
    
}  
h1{
    color: white;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    display: flex;
}
.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: #219ebc;
    color: white;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: transparent;
    border-radius: 5px;
}
.form-control input {
    outline: none;
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 10px;
    color: #fff;
}
/*-----------------------------------------------TABLAAAAA------------------------------------------*/
.tabala_crud {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    margin-left: 18%;/* Agregado para centrar la tabla horizontalmente */
    margin-top: -34%;
}

th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    justify-content: center;

}

th {
    background-color: #1d3557;
    font-weight: bold;
    color: #ffff;
}  
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.btn_act{
    cursor: pointer;
    display: inline-block;
    width: 50%;
    background: #219ebc;
    color: white;
    padding: 10px;
    font-family: inherit;
    font-size: 16px;
    border: transparent;
    border-radius: 5px;
}
.btn_eli{
    cursor: pointer;
    display: inline-block;
    width: 50%;
    background-color: rgb(255, 65, 65);
    color: white;
    padding: 10px;
    font-family: inherit;
    font-size: 16px;
    border: transparent;
    border-radius: 5px;
}
/*--------------------------------VENTANA MODAL--------------------------------------------*/
.modal_crud {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contenido-crud {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    height: 40%;
    justify-content: center;
    text-align: center;
}
h3{
    color: #1d3557;
    font-size: 18px;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

}

.cerrar:hover,
.cerrar:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.btn_eli_crud{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: #1d3557;
    color: white;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: transparent;
    border-radius: 5px;
}
.btn_eli_act{
    cursor: pointer;
    display: inline-block;
    width: 50%;
    background: #1d3557;
    color: white;
    padding: 10px;
    font-family: inherit;
    font-size: 16px;
    border: transparent;
    border-radius: 5px;
}
.btn_eli{
    cursor: pointer;
    display: inline-block;
    width: 50%;
    background-color: rgb(255, 65, 65);
    color: white;
    padding: 10px;
    font-family: inherit;
    font-size: 16px;
    border: transparent;
    border-radius: 5px;
}
/*------------------------------------------------------------------------------*/
.modal-contenido-actu{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 60%;
    justify-content: center;
    text-align: center;
}

.text {
    margin-top: 30px;
}
.form-control {
    margin: 20px 0 40px;
    width: 390px;

}
h1{
    color: #1d3557;
    font-size: 18px;
}
.form-control input {
    outline: none;
    background-color: transparent;
    border: 0;
    border-bottom: 2px #1d3557 solid;
    display: block;
    width: 90%;
    padding: 10px;
    color: #1d3557;
}

.form-control input:focus .form-control input:valid {
    outline: 0;
    border-bottom-color: #219ebc;
}

.form-control label {

    position: absolute;
    pointer-events: none;

}

.form-control label span {

    display: inline-block;
    font-size: 20px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0265, 1.55);
}

.form-control input{
    font-size: 14px;
}